Babel==2.1.1
Chameleon==2.24
coverage==4.0.3
nosexcover==1.0.10
lingua==3.12
lxml
nose==1.3.7
pep8==1.7.0
pylint==1.5.5
pyramid==1.9.1
pyramid-chameleon==0.3
pyramid-celery==2.0.0
pyramid-debugtoolbar==2.4.1
pyramid-health==1.2.1
pyramid-tm==0.12
requests==2.8.1
transaction==1.4.4
waitress==0.8.10
zest.releaser==6.6.4
zope.sqlalchemy==0.7.6
PyJWT==1.5.2
gunicorn==19.6.0
pyramid-jwt==1.2