/*.ui-grid-column-menu-button-last-col{
margin-right:0px !important;
}
*/
.grid {
  /*height: 150%;*/
  /*min-height: 300px;*/*/
  max-height: 1500px;
 height: auto;
    
    /*overflow-x: scroll;
    overflow-y: scroll;*/
}

.my-custom-menu {
  position: absolute;
}

.my-custom-menu .ui-grid-menu {
  padding: 0px;
}

.my-custom-menu .ui-grid-menu-inner {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.ui-grid-cell{
    padding-right:10px !important;
    padding-left: 10px !important;
}

.viewlet {
    margin-left: 20px;
    margin-bottom: 10px;
    padding-left: 5px;
    border-left: 2px solid black;
    display: block;
}

/*****************************************************************************/
/* Widget Folders
/*****************************************************************************/
.viewlet_folders {
    border-color: red;
    overflow: auto;
}

.folders {
    float: left;
    padding-left: 5px;
    background: url(../img/background/folders.gif) 0 0 no-repeat;
    white-space: nowrap;
}

.folders,
.foldersInner,
.foldersContainer,
.foldersLast,
.folderSelect {
    height: 22px;
    line-height: 21px;
    overflow: hidden;
    vertical-align: middle;
}

.foldersInner {
    padding-right: 5px;
    background: url(../img/background/folders.gif) right 0 no-repeat;
}

.foldersContainer {
    padding: 0;
    margin: 0;
    list-style-type: none;
    background: url(../img/background/folders.gif) 0 -22px repeat-x;
}

.foldersNext {
    padding-right: 13px;
    background: url(../img/background/folders.gif) right -44px no-repeat;
}

.folderTitle {
    padding: 0 3px;
}

.folderSelect {
    cursor: pointer;
    width: 11px;
    background: url(../img/icons/arrows/green_down.gif) center center no-repeat;
}

.folderLock .folderTitle {
    color: #555;
    font-style: italic;
}

.folderLock .folderSelect {
    visibility: hidden;
}

.neteven .foldersMenu .dijitMenuItemIcon {
    margin: 2px;
    width: 16px;
    height: 16px;
    background: transparent url(../img/icons/folder.gif) no-repeat center center;
}

/*****************************************************************************/
/* Widget Filter
/*****************************************************************************/

.viewlet_filter {
    height: 70px;
    overflow: auto;
    background-image: url(../img/background/stripes.gif);
}

.viewlet_publimate_filter {
    padding: 10px 5px;
    background-image: url(../img/background/stripes.gif);
}

.filter {

}


.filter table {
    float: left;
}

.filter .filterCriteriaRow li span,
.filter .filterCriteriaRow li {
    height: 20px;
    line-height: 20px;
}

.filter .filterCriteriaRow td {
    vertical-align: top;
}

.filter span.filterDelCriteria {
    vertical-align: middle;
    line-height: 20px;
    height: 20px;
}

.filter td.filterAddCriteriaCell {
    vertical-align: bottom;
    padding-bottom: 3px; /* (20px - 14px) / 2 = 3px */
}



/* Ajout du hack pour firefox pour aligner les boutons voir ticket 110522 */
.filter td.filterAddCriteriaCell , x:-moz-any-link, x:default{
    vertical-align: bottom;
    padding-bottom: 1px;
}


.filter td.filterCommands {
    float: left;
}
.filter td.filterCommands .dijitButton {
    margin:0 0 0 0.1em;
}
/******************************************************************************/
/* La grille
/******************************************************************************/

.grid {
    font-size: 0.9em;
    width: 100%;
    background-color: white;
    overflow: hidden;
}

.gridHeader tr,
.gridHeader td {
    border-bottom:1px solid #D3C7A5;
    border-top:1px solid #FFFFFF;
    text-align: center;
    background-color: #EBE3CB;
}

.grid td {
    background-image: url(../img/grid/vertical_separator.gif);
    background-position: left center;
    background-repeat: no-repeat;
}
.grid td:first-child {
    background-image: none !important;
}

.gridRow {
    font-size: 10pt;
}
.gridRow td, .gridHeader td, .gridSubRow td {
    border-bottom: 1px solid #D9CDA4;
    padding: 2px 4px;
}
.gridRow:first-child td {
    border-top: none !important;
}
.gridRow:last-child td {
    border-bottom: none !important;
}
.gridOddRow {
    background-color: #fbf7ea;
}

/*.gridSubRow {}*/
/*.gridEvenRow {}*/
/*.gridEvenSubRow {}*/
/*.gridOddSubRow {}*/

.gridRowHover td {
    background-color: #f2eee6 !important;
}
.gridSelectedRow td {
  background-color: #ebe7dd !important;
}

#orders .gridRow td {
    border-top: 3px double #d3c7a5;
    background-color: #fbf7ea;
}
#orders .gridSubRow td {
    border-bottom: none;
}
#orders .gridSubRow td + #orders .gridSubRow td {
    border-bottom: 1px solid #d9cda4 !important;
}
#orders .gridEvenRow {
    background-color: #fbf7ea;
}

.gridSortArrow {
    width: 9px;
    height: 5px;
    cursor: pointer;
    display: inline-block;
    margin-left: 5px; /* TODO ne va pas marcher sour IE ! */
}

.gridDownSortArrow {
    background-image: url(../img/icons/arrows/green_down.gif);
}

.gridUpSortArrow {
    background-image: url(../img/icons/arrows/green_up.gif);
}

.gridNoSortArrow {
    background-color: green;
}

.gridMsg {
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    line-height: 150%;
}

/******************************************************************************/
/* Le widget de notification
/******************************************************************************/

.notify {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -250px;
    z-index: 999;
}

.notify,
.notify .dijitMenu {
    width: 500px;
}

.notify p {
    margin: 2px 5px;
    font-size: 0.8em;
}

.notifySuccess {
    color: white;/*#005500;*/
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.notifyOperationalError {
    color: #550000;
}

.notifyCriticalError {
    background-color: yellow;
    color: black;
}

.io_state_box {
    position: absolute;
    height: 20px;
    font-size: 15px;
    opacity: 0.7;
    left: -100px;
    background-color: white;
    border-top: 2px solid #451200;
    border-right: 2px solid #451200;
    border-bottom: 2px solid #451200;
    border-left:0;
    z-index: 999;
    padding: 5;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topright: 5px;

}

.io_state_box .ico_loading {
    padding-left: 25px;
    background: url(../img/icons/loading_arrows.gif) no-repeat 5px center;
}

#download_state_box {
    top: 5px;
}

#upload_state_box {
    top: 20px;
}

/****************************************************************************
 * Widget CsvModelEditor
 ****************************************************************************/
.csvmodelcolumns {
    margin: 10px 0;
}
.csvmodelcolumns td {
    border-right: 2px solid #aaa;
    padding: 5px;
}

.csvmodelcolumns .column_actions td{
    border:0; padding:0;
}
.sourceItem {
    float: left;
    border:1px solid #CACACA;
    -moz-border-radius: 3px;
    margin:3px 0 0 3px;
    padding:2px;
}
.csvModelColumnFieldsContainer {
    width: 15em;
}
.csvModelColumnFields {
    border:1px solid #CACACA;
    margin-top: 5px;
    paddin: 3px;
    height: 100px;
    overflow: auto;
}
.csvModelDeleteColumnButton {
    float: right;
}

.csvModelDeleteField {
    margin-left: 5px;
    cursor: pointer;
}
.item .dojoDndItemOver,
.order .dojoDndItemOver {
    background-color: #cacaca;
}

.item .fields_container .dojoDndItemAnchor,
.item .fields_container .dojoDndItemSelected,
.order .fields_container .dojoDndItemAnchor,
.order .fields_container .dojoDndItemSelected {
    background-color: #aeaeca;
}

/****************************************************************************
 * Widget d'aide et de conseil
 ****************************************************************************/

.help_viewlet {
    border-left: 3px solid #F1E105;
    background-image: url(../img/background/stripes.gif);
    padding: 10px;
    margin: 20px 20px 0 20px;
}

.tips_viewlet {
    padding: 0 0 0 5px;
    margin: 20px 20px 0 20px;
}


/****************************************************************************
 * Widget Thumbnail
 ****************************************************************************/

.neteven .thumbnailBox {
    display: inline-block;
    height: 150px;
    width: 150px;
    margin: 0 auto;
    background-color: #e6e6e6;
    border: 1px solid #b8b8b8;
}

.neteven .thumbnailBoxLoading {
    background: #e6e6e6 url(../img/icons/loading_img.gif) no-repeat scroll center;
}

/*****************************************************************************
* ToggleBar
*****************************************************************************/
.neteven .dijitToggleBar {
    clear: both;
    height: 20px;
}

.neteven .dijitToggleBar .buttonContainer {
    margin-left: 3px;
    float: left;
    color: black;
    background:url("./dojo_theme/images/tabContainerSprite.gif") no-repeat scroll 0 -300px transparent
}

.neteven .dijitToggleBar .buttonContainer.selected {
    background:url("./dojo_theme/images/tabContainerSprite.gif") no-repeat scroll 0 0 transparent;
}

.neteven .dijitToggleBar .buttonContainer .buttonWrapper {
    background: url("./dojo_theme/images/tabContainerSprite.gif") no-repeat scroll right -400px transparent;
    padding: 2px 3px 1px 4px;
}

.neteven .dijitToggleBar .buttonContainer.selected .buttonWrapper {
    background: url("./dojo_theme/images/tabContainerSprite.gif") no-repeat scroll right -100px transparent;
}


.neteven .dijitToggleBar .buttonContainer .buttonWrapper button {
    background: url("./dojo_theme/images/tabContainerSprite.gif") repeat-x scroll 0 -350px transparent;
    cursor: pointer;
    margin: -2px 0 -3px 0px;
    padding-bottom:1px;
    padding-left:3px;
    padding-right:3px;
    padding-top:3px;
    border: none;
    vertical-align: none;
    /*font: 10pt Trebuchet,Arial,Helvetica,sans-serif;*/
}

.neteven .dijitToggleBar .buttonContainer.selected .buttonWrapper button {
    background: url("./dojo_theme/images/tabContainerSprite.gif") repeat-x scroll 0 -50px transparent;
}
